@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@using fashion_shop_group32.Models;
@using fashion_shop_group32.Models.Dao;

<section id="aa-catg-head-banner">
    <img src="~/Content/img/login-banner.jpg" alt="fashion img" class="header-banner">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Tài khoản của tôi</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active">Tài khoản</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Cart view section -->
<!--T có sửa phần view của trang Login nha (Hiệp)-->


<section id="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <h4>Tài khoản</h4>
                        <div class="col-md-6">
                            <div class="aa-myaccount-register">
                                <h4>Đổi mật khẩu</h4>
                                @using (Html.BeginForm("changePassword", "Account"))
                                {
                                    <p style="color:red">@ViewBag.Message</p>
                                    <br />
                                    <label for="">UserName:@Session["userName"]<span>*</span></label>
                                    <br />
                                    <label for="">Mật khẩu cũ<span>*</span></label>
                                    <br />
                                    <input type="password" placeholder="type your old password" name="Oldpassword">
                                    <br />
                                    <label for="">Mật khẩu mới<span>*</span></label>
                                    <br />
                                    <input type="password" placeholder="type your new password" name="newPassword">
                                    <br />
                                    <label for="">Xác nhận mật khẩu<span>*</span></label>
                                    <br />
                                    <input type="password" placeholder="confirm new password" name="confirmPassword">
                                    <br />
                                    <button type="submit" class="aa-browse-btn">Đổi mật khẩu</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    @Html.ActionLink("Trở về trang chủ", "Index")
</div>

