
@{
    ViewBag.Title = "Liên hệ";
}


<div id="overlay">
    <div id="overlay__elm">
        <div class="dashed-loading"></div>
    </div>
</div>

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="~/Content/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Liên hệ</h2>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Liên hệ</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- start contact section -->
<section id="aa-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-contact-area">
                    <div class="aa-contact-top">
                        <h2>Chúng tôi muốn lắng nghe ý kiến của bạn</h2>
                        <p>Hãy bày tỏ ý kiến của bạn dưới đây</p>
                    </div>
                    <!-- contact map -->
                    <div class="aa-contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15672.886908698685!2d106.7916906!3d10.8707333!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x474ab15b8f9b297f!2zS2hvYSBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiAtIFRyxrDhu51uZyDEkOG6oWkgaOG7jWMgTsO0bmcgTMOibSBUUCBI4buTIENow60gTWluaA!5e0!3m2!1sen!2s!4v1652022933699!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!-- Contact address -->
                    <div class="aa-contact-address">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="aa-contact-address-left">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Name" class="form-control" name="name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" placeholder="Email" class="form-control" name="email">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="Phone" class="form-control" name="phone">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" placeholder="Subject" class="form-control" name="subject">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <textarea class="form-control" rows="6" placeholder="Message" name="message"></textarea>
                                    </div>
                                    <button class="aa-secondary-btn" id="submit-problem">Send</button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="aa-contact-address-right">
                                    <address>
                                        <h4>Group32</h4>
                                        <p>Shop quần áo nông lâm giá tốt , chất lượng cao</p>
                                        <p><span class="fa fa-home"></span>Khu Phố 6 , Phường Linh Trung , Thành Phố Thủ Đức</p>
                                        <p><span class="fa fa-phone"></span>0987654321</p>
                                        <p><span class="fa fa-envelope"></span>Email: group32@gmail.com</p>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    jQuery(() => {
        $("#submit-problem").click(() => {
            var name = $("input[name='name']").val();
            var email = $("input[name='email']").val();
            var subject = $("input[name='subject']").val();
            var message = $("textarea[name='message']").val();
            var phone = $("input[name='phone']").val();
            $("#overlay").css("display", "block");

            $.ajax({
                url: "/Contact/SubmitProblem",
                method: "POST",
                data: {
                    from: email,
                    subject: subject,
                    content: message,
                    name: name,
                    phone: phone
                },
                success: data => {
                    $("#overlay").css("display", "none");
                    swal("Thành công", "Gửi yêu cầu thành công", "success");
                }, error: data => {
                    $("#overlay").css("display", "none");
                    swal("Thất bại", "Gửi yêu cầu thất bại", "error");
                }
            });
        });

    });
</script>