@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["title"] = "Quản lý hóa đơn";
}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <h2>Quản lý hóa đơn</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <button id="addBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Thêm hóa đơn</button>
                <!--modal them hoa don-->

                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Thêm hóa đơn</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-size:28px;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>Mã khách hàng</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="cid">
                                </div>

                                <label>Đơn giá</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" name="totalPrice">
                                </div>

                                <label>Phương thức thanh toán</label>
                                <div class="input-group mb-3">
                                    <select class="form-select w-100" name="paymentMethod">
                                        <option selected hidden disabled value="0">Chọn phương thức thanh toán</option>
                                        <option value="BANK">Chuyển khoản ngân hàng</option>
                                        <option value="COD">Thanh toán khi nhận hàng</option>
                                        <option value="MOMO">Momo</option>
                                    </select>
                                </div>

                                <label>Mã giảm giá</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="coupon">
                                </div>

                                <label>Trạng thái</label>
                                <div class="input-group mb-3">
                                    <select class="form-select w-100" name="status">
                                        <option selected hidden disabled value="0">Chọn trạng thái đơn hàng</option>
                                        <option value="1">Bị hủy bỏ</option>
                                        <option value="2">Đang chờ xử lý</option>
                                        <option value="3">Hết hạn xử lý</option>
                                        <option value="4">Khách hàng trả lại hàng</option>
                                        <option value="5">Đơn hàng được giao thành công</option>
                                        <option value="6">Khách hàng từ chối nhận hàng</option>
                                        <option value="7">Đang vận chuyển</option>
                                        <option value="8">Đã được xử lý</option>
                                        <option value="9">Đang xử lý</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="add-action">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Sửa thông tin hóa đơn</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-size:28px;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>Mã hóa đơn</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control input-group" name="editoid" disabled>
                                </div>

                                <label>Mã khách hàng</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="editcid" disabled>
                                </div>

                                <label>Đơn giá</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" name="edittotalPrice">
                                </div>

                                <label>Phương thức thanh toán</label>
                                <div class="input-group mb-3">
                                    <select class="form-select w-100" name="editpaymentMethod">
                                        <option selected hidden disabled value="0">Chọn phương thức thanh toán</option>
                                        <option value="BANK">Chuyển khoản ngân hàng</option>
                                        <option value="COD">Thanh toán khi nhận hàng</option>
                                        <option value="MOMO">Momo</option>
                                    </select>
                                </div>

                                <label>Mã giảm giá</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="editcoupon">
                                </div>

                                <label>Trạng thái</label>
                                <div class="input-group mb-3">
                                    <select class="form-select w-100" name="editstatus">
                                        <option selected hidden disabled value="0">Chọn trạng thái đơn hàng</option>
                                        <option value="1">Bị hủy bỏ</option>
                                        <option value="2">Đang chờ xử lý</option>
                                        <option value="3">Hết hạn xử lý</option>
                                        <option value="4">Khách hàng trả lại hàng</option>
                                        <option value="5">Đơn hàng được giao thành công</option>
                                        <option value="6">Khách hàng từ chối nhận hàng</option>
                                        <option value="7">Đang vận chuyển</option>
                                        <option value="8">Đã được xử lý</option>
                                        <option value="9">Đang xử lý</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="edit-action">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Xóa hóa đơn</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-size:28px;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="form-control" name="deleteId" disabled hidden>
                                <h6>Bạn có chắc chắn muốn xóa dòng này ?</h6>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="delete-action">Đồng ý</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="bootstrap-data-table-panel">
                                <div class="table-responsive">
                                    <table id="order-table"
                                           class="table table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="13%">Mã hóa đơn</th>
                                                <th width="13%">Mã khách hàng</th>
                                                <th width="13%">Đơn giá</th>
                                                <th width="13%">Phương thức thanh toán</th>
                                                <th width="13%">Mã giảm giá</th>
                                                <th width="13%">Trạng thái</th>
                                                <th width="13%">Ngày mua</th>
                                                <th width="11%">Hành động</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p>
                                2021 © Admin Dashboard. - Functions Developed By <a href="https://github.com/hadesdday" target="_blank">
                                    Nguyen
                                    Van Hieu
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#order-table").DataTable({
            "responsive": true,
            "dom": "lBfrtip",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"],
            ],
            "buttons": ["copy", "csv", "excel", "pdf", "print"],
            "language": {
                "url": "/Scripts/admin/js/lib/data-table/vi.json"
            },
            "ajax": {
                "url": "https://localhost:44332/OrderManagement/GetOrderList",
                "dataSrc": "data"
            },
            "columnDefs": [
                {
                    "targets": 0,
                    "width": "13%",
                },
                {
                    "targets": 1,
                    "width": "13%",
                },
                {
                    "targets": 2,
                    "width": "13%",
                },
                {
                    "targets": 3,
                    "width": "13%",
                },
                {
                    "targets": 4,
                    "width": "13%",
                },
                {
                    "targets": 5,
                    "width": "13%",
                },
                {
                    "targets": 6,
                    "width": "13%",
                },
                {
                    "targets": 7,
                    "searchable": false,
                    "width": "11%",
                    "render": function (data, type, row) {
                        var editElm = '<a class="btn rounded bg-warning mr-2" id="editBtn" ' + "onclick='onEdit(this)' data-toggle='modal' data-target='#editModal'>"
                            + "<i class='ti-pencil text-white'></i></a>";
                        var delElm = '<a class="btn rounded bg-danger delAct" id="deleteAction" onclick="onDelete(this)" data-toggle="modal" data-target="#deleteModal">' +
                            "<i class='ti-trash text-white'></i></a>";
                        var actions = editElm + delElm;
                        return actions;
                    }
                },
            ],
            "columns": [
                { "data": "id_hoadon" },
                { "data": "id_khachHang" },
                { "data": "trigia" },
                { "data": "mapttt" },
                { "data": "id_magg" },
                { "data": "trangthai" },
                { "data": "createdat" }
            ],
        });
    });

    function reloadTable() {
        $("#order-table").DataTable().ajax.reload(null, false);
    }

    function clearData() {
        $("input").val("");
    }

    function isEmpty(inp) {
        for (let i of inp) {
            if (i === null || i.length < 1) {
                return true;
            }
        }
        return false;
    }

    function closeModal(id) {
        $(id).trigger('click');
    }

    $("#add-action").click(() => {
        var cid = $("input[name='cid']").val();
        var price = $("input[name='totalPrice']").val();
        var paymentMethod = $("select[name='paymentMethod'] option:selected").val();
        var coupon = $("input[name='coupon']").val();
        var status = $("select[name='status'] option:selected").val();


        let inp = [cid, price, paymentMethod, status];

        if (isEmpty(inp)) {
            swal("Thất bại", "Vui lòng nhập dữ liệu ", "error");
        } else {
            var url = "https://localhost:44332/OrderManagement/Add?id_khachHang=" + cid + "&id_magg=" + coupon + "&mapttt=" + paymentMethod + "&trigia=" + price + "&trangthai=" + status;
            $.ajax({
                url: url,
                method: "POST",
                success: function (data) {
                    reloadTable();
                    swal("Thành công", "Thêm hóa đơn mới thành công", "success");
                    clearData();
                    closeModal("#addModal");
                },
                error: function (data) {
                    swal("Thất bại", "Thêm hóa đơn mới thất bại", "error");
                }
            });
        }
    });

    function setData(data) {
        $("input[name='editoid']").val(data.id_hoadon);
        $("input[name='editcid']").val(data.id_khachHang);
        $("input[name='edittotalPrice']").val(data.trigia);
        $("select[name='editpaymentMethod']").val(data.mapttt);
        $("input[name='editcoupon']").val(data.id_magg);
        $("select[name='editstatus']").val(data.trangthai);
        $('select').niceSelect('update');
    }

    function onEdit(elm) {
        var s = $(elm).parents("tr").children().first();
        var id = Number(s.text());

        $.ajax({
            url: "/OrderManagement/GetOrder",
            method: "GET",
            data: {
                id: id
            },
            success: data => {
                setData(data);
            }, error: data => {
                swal("Thất bại", "Không tìm thấy hoá đơn", "error");
            }
        });
    }

    $("#edit-action").click(() => {
        var id = $("input[name='editoid']").val();
        var cid = $("input[name='editcid']").val();
        var price = $("input[name='edittotalPrice']").val();
        var paymentMethod = $("select[name='editpaymentMethod'] option:selected").val();
        var coupon = $("input[name='editcoupon']").val();
        var status = $("select[name='editstatus'] option:selected").val();

        let inp = [id, cid, price, paymentMethod, status];

        if (isEmpty(inp)) {
            swal("Thất bại", "Vui lòng nhập dữ liệu ", "error");
        } else {
            var url = "https://localhost:44332/OrderManagement/UpdateInformation?id_hoadon=" + id + "&id_khachHang=" + cid + "&id_magg=" + coupon + "&mapttt=" + paymentMethod + "&trigia=" + price + "&trangthai=" + status;
            $.ajax({
                url: url,
                method: "PUT",
                success: function (data) {
                    reloadTable();
                    swal("Thành công", "Sửa thông tin hóa đơn thành công", "success");
                    closeModal("#editModal");
                },
                error: function (data) {
                    if (data.status === 400 || data.status === 500)
                        swal("Thất bại", "Dữ liệu không hợp lệ vui lòng nhập lại", "error");
                    else
                        swal("Thất bại", "Cập nhật thông tin thất bại", "error");
                }
            })
        }
    });

    function onDelete(elm) {
        var s = $(elm).parents("tr").children().first();
        var id = Number(s.text());
        $("input[name='deleteId']").val(id);
    }

    $("#delete-action").click(() => {
        var id = $("input[name='deleteId']").val();

        $.ajax({
            url: "/OrderManagement/Delete",
            method: "DELETE",
            data: {
                id: id
            },
            success: data => {
                reloadTable();
                swal("Thành công", "Xóa thành công", "success");
                closeModal("#deleteModal");
            },
            error: (data) => {
                swal("Thất bại", "Xóa thất bại", "error");
            }
        });
    });
</script>
