@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["title"] = "Quản lý chi tiết hóa đơn";
}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <h2>Quản lý chi tiết hóa đơn</h2>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <button id="addBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Thêm chi tiết hóa đơn mới</button>

                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Thêm chi tiết hóa đơn mới</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-size:28px;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>Mã hóa đơn</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="oid">
                                </div>

                                <label>Mã sản phẩm</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="pid">
                                </div>

                                <label>Số lượng</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" name="quantity">
                                </div>

                                <label>Mã màu</label>
                                <div class="input-group mb-3">
                                    <select class="form-select w-100" name="cid">
                                        <option selected hidden disabled value="0">Chọn mã màu sản phẩm</option>
                                    </select>
                                </div>

                                <label>Mã size</label>
                                <div class="input-group mb-3">
                                    <select class="form-select w-100" name="sid">
                                        <option selected hidden disabled value="0">Chọn mã size sản phẩm</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="add-action">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Sửa thông tin chi tiết hóa đơn</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-size:28px;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>Mã hóa đơn</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="editoid" disabled>
                                    <input type="text" class="form-control" name="editid" disabled hidden>
                                </div>

                                <label>Mã sản phẩm</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="editpid">
                                </div>

                                <label>Số lượng</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" name="editquantity">
                                </div>

                                <label>Mã màu</label>
                                <div class="input-group mb-3">
                                    <select class="form-select w-100" name="editcid">
                                        <option selected hidden disabled value="0">Chọn mã màu sản phẩm</option>
                                    </select>
                                </div>

                                <label>Mã size</label>
                                <div class="input-group mb-3">
                                    <select class="form-select w-100" name="editsid">
                                        <option selected hidden disabled value="0">Chọn mã size sản phẩm</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="edit-action">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal sua thong tin hoa don -->

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Xóa chi tiết sản phẩm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-size:28px;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="form-control" name="deleteId" disabled hidden>
                                <h6>Bạn có chắc chắn muốn xóa dòng này ?</h6>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="delete-action">Đồng ý</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="bootstrap-data-table-panel">
                                <div class="table-responsive">
                                    <table id="order-details-board"
                                           class="table table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="15%">Mã hóa đơn</th>
                                                <th width="15%">Mã sản phẩm</th>
                                                <th width="15%">Số lượng</th>
                                                <th width="15%">Mã màu</th>
                                                <th width="15%">Mã size</th>
                                                <th width="15%">Id</th>
                                                <th width="10%">Hành động</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p>
                                2021 © Admin Dashboard. - Functions Developed By <a href="https://github.com/hadesdday" target="_blank">
                                    Nguyen
                                    Van Hieu
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#order-details-board").DataTable({
            "responsive": true,
            "dom": "lBfrtip",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"],
            ],
            "buttons": ["copy", "csv", "excel", "pdf", "print"],
            "language": {
                "url": "/Scripts/admin/js/lib/data-table/vi.json"
            },
            "ajax": {
                "url": "https://localhost:44332/OrderDetailsManagement/GetOrderDetailsList",
                "dataSrc": "data"
            },
            "columnDefs": [
                {
                    "targets": 0,
                    "width": "15%",
                },
                {
                    "targets": 1,
                    "width": "15%",
                },
                {
                    "targets": 2,
                    "width": "15%",
                },
                {
                    "targets": 3,
                    "width": "15%",
                },
                {
                    "targets": 4,
                    "width": "15%",
                },
                {
                    "targets": 5,
                    "width": "15%",
                },
                {
                    "targets": 6,
                    "searchable": false,
                    "width": "10%",
                    "render": function (data, type, row) {
                        var editElm = '<a class="btn rounded bg-warning mr-2" id="editBtn" ' + "onclick='onEdit(this)' data-toggle='modal' data-target='#editModal'>"
                            + "<i class='ti-pencil text-white'></i></a>";
                        var delElm = '<a class="btn rounded bg-danger delAct" id="deleteAction" onclick="onDelete(this)" data-toggle="modal" data-target="#deleteModal">' +
                            "<i class='ti-trash text-white'></i></a>";
                        var actions = editElm + delElm;
                        return actions;
                    }
                },
            ],
            "columns": [
                { "data": "id_hoadon" },
                { "data": "id_sanpham" },
                { "data": "soluong" },
                { "data": "ma_mau" },
                { "data": "ma_size" },
                { "data": "id" }
            ],
        });
        $.ajax({
            url: "https://localhost:44332/Color/GetColorList",
            method: "GET",
            success: data => {
                let returnedData = data["data"];
                returnedData.map(x => {
                    let elm = "<option value='" + x["ma_mausp"] + "'>" + x["mausp"] + "</option>";
                    $("select[name='cid']").append(elm);
                    $("select[name='editcid']").append(elm);
                });
                $('select').niceSelect("update");
            }
        });
        $.ajax({
            url: "https://localhost:44332/Size/GetSizeList",
            method: "GET",
            success: data => {
                let returnedData = data["data"];
                returnedData.map(x => {
                    let elm = "<option value='" + x["ma_sizesp"] + "'>" + x["ten_sizesp"] + "</option>";
                    $("select[name='sid']").append(elm);
                    $("select[name='editsid']").append(elm);
                });
                $('select').niceSelect("update");
            }
        });
    });
    function reloadTable() {
        $("#order-details-board").DataTable().ajax.reload(null, false);
    }
    function clearData() {
        $("input").val("");
    }
    function isEmpty(inp) {
        for (let i of inp) {
            if (i === null || i.length < 1) {
                return true;
            }
        }
        return false;
    }
    function closeModal(id) {
        $(id).trigger('click');
    }
    $("#add-action").click(() => {
        var id = $("input[name='oid']").val();
        var productId = $("input[name='pid']").val();
        var quantity = Number($("input[name='quantity']").val());
        var color = $("select[name='cid'] option:selected").val();
        var size = $("select[name='sid'] option:selected").val();
        let inp = [id,
            color,
            size,
            productId
        ];
        if (isEmpty(inp) || quantity < 1) {
            swal("Thất bại", "Vui lòng nhập dữ liệu ", "error");
        } else {
            $.ajax({
                url: "https://localhost:44332/OrderDetailsManagement/Add",
                data: {
                    id_hoadon: id,
                    id_sanpham: productId,
                    soluong: quantity,
                    ma_mau: color,
                    ma_size: size
                },
                method: "POST",
                success: function (data) {
                    reloadTable();
                    swal("Thành công", "Thêm chi tiết hóa đơn mới thành công", "success");
                    clearData();
                    closeModal("#addModal");
                },
                error: function (data) {
                    swal("Thất bại", "Thêm chi tiết hóa đơn thất bại", "error");
                }
            });
        }
    });
    function setData(data) {
        $("input[name='editoid']").val(data.id_hoadon);
        $("input[name='editid']").val(data.id);
        $("input[name='editquantity']").val(data.soluong);
        $("input[name='editpid']").val(data.id_sanpham);
        $("select[name='editcid']").val(data.ma_mau);
        $("select[name='editsid']").val(data.ma_size);
        $('select').niceSelect('update');
    }
    function onEdit(elm) {
        var s = $(elm).parents("tr").children().eq(5);

        var id = Number(s.text());

        $.ajax({
            url: "/OrderDetailsManagement/GetOrderDetails",
            method: "GET",
            data: {
                id: id
            },
            success: data => {
                setData(data);
            }, error: data => {
                swal("Thất bại", "Không tìm thấy hóa đơn", "error");
            }
        });
    }
    $("#edit-action").click(() => {
        var orderId = $("input[name='editoid']").val();
        var id = $("input[name='editid']").val();
        var productId = $("input[name='editpid']").val();
        var quantity = Number($("input[name='editquantity']").val());
        var color = $("select[name='editcid'] option:selected").val();
        var size = $("select[name='editsid'] option:selected").val();

        let inp = [id,
            color,
            size,
            orderId, productId
        ];
        if (isEmpty(inp) || quantity < 1) {
            swal("Thất bại", "Vui lòng nhập dữ liệu ", "error");
        } else {
            $.ajax({
                url: "https://localhost:44332/OrderDetailsManagement/UpdateInformation",
                method: "PUT",
                data: {
                    id_hoadon: orderId,
                    id_sanpham: productId,
                    soluong: quantity,
                    ma_mau: color,
                    ma_size: size,
                    id: id
                },
                success: function (data) {
                    reloadTable();
                    swal("Thành công", "Sửa thông tin sản phẩm thành công", "success");
                    closeModal("#editModal");
                },
                error: function (data) {
                    if (data.status === 400 || data.status === 500)
                        swal("Thất bại", "Dữ liệu không hợp lệ vui lòng nhập lại", "error");
                    else
                        swal("Thất bại", "Cập nhật thông tin thất bại", "error");
                }
            })
        }
    });
    function onDelete(elm) {
        var s = $(elm).parents("tr").children().eq(5);
        var id = s.text();
        $("input[name='deleteId']").val(id);
    }
    $("#delete-action").click(() => {
        var id = Number($("input[name='deleteId']").val());

        $.ajax({
            url: "/OrderDetailsManagement/Delete",
            method: "DELETE",
            data: {
                id: id
            },
            success: data => {
                reloadTable();
                swal("Thành công", "Xóa thành công", "success");
                closeModal("#deleteModal");
            },
            error: (data) => {
                swal("Thất bại", "Xóa thất bại", "error");
            }
        });
    });
</script>