@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["title"] = "Quản lý loại sản phẩm";
}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <h2>Quản lý loại sản phẩm</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">

                <button id="addBtn" type="button" class="btn btn-primary">Thêm sản phẩm</button>
                <!--modal them hoa don-->

                <form action="#">
                    <div id="addModal" class="custom-modal">
                        <div class="custom-modal-content">
                            <div class="custom-modal-header">
                                <span class="custom-close">&times;</span>
                                <h2>Thêm loại sản phẩm</h2>
                            </div>
                            <div class="custom-modal-body">
                                <label>Mã loại sản phẩm</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="tid">
                                </div>

                                <label>Tên loại sản phẩm</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="tName">
                                </div>
                            </div>
                            <div class="custom-modal-footer">
                                <button type="button" class="btn btn-secondary close-btn">Hủy</button>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>

                        </div>
                    </div>
                </form>

                <!-- modal sua thong tin hoa don -->
                <form action="#">
                    <div id="editModal" class="custom-modal">
                        <div class="custom-modal-content">
                            <div class="custom-modal-header">
                                <span class="custom-close">&times;</span>
                                <h2>Sửa thông tin hóa đơn</h2>
                            </div>
                            <div class="custom-modal-body">
                                <label>Mã loại sản phẩm</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="edittid" disabled>
                                </div>

                                <label>Tên loại sản phẩm</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="edittName">
                                </div>
                            </div>
                            <div class="custom-modal-footer">
                                <button type="button" class="btn btn-secondary close-btn">Hủy</button>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>
                    </div>
                </form>

                <form action="#">
                    <div id="confirmDelete" class="custom-modal">
                        <div class="custom-modal-content">
                            <div class="custom-modal-header">
                                <span class="custom-close">&times;</span>
                                <h2>Xác nhận</h2>
                            </div>
                            <div class="custom-modal-body">
                                <h6>Bạn có chắc chắn muốn xóa loại sản phẩm này ?</h6>
                            </div>
                            <div class="custom-modal-footer">
                                <button type="button" class="btn btn-secondary close-btn">Hủy</button>
                                <button type="submit" class="btn btn-primary">Đồng ý</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="bootstrap-data-table-panel">
                                <div class="table-responsive">
                                    <table id="bootstrap-data-table-export"
                                           class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Mã loại sản phẩm</th>
                                                <th>Tên loại sản phẩm/th>
                                                <th>Ngày tạo</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>KH01</td>
                                                <td>1250000</td>
                                                <td>
                                                    <a href="#" class="btn rounded bg-warning" id="editBtn"
                                                       onclick="showEditModal()">
                                                        <i class="ti-pencil"></i>
                                                    </a>
                                                    <a href="#" class="btn rounded bg-danger" id="deleteAction"
                                                       onclick="showDeleteModal()">
                                                        <i class="ti-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p>
                                2021 © Admin Dashboard. - Functions Developed By <a href="https://github.com/hadesdday" target="_blank">
                                    Nguyen
                                    Van Hieu
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>