@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["title"] = "Quản lý đánh giá sản phẩm";
}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <h2>Quản lý đánh giá sản phẩm</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <button id="addBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Thêm đánh giá sản phẩm</button>

                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Thêm đánh giá sản phẩm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-size:28px;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>Mã sản phẩm</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="pid">
                                </div>

                                <label>Username</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="username">
                                </div>

                                <label>Rating</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" name="rating">
                                </div>

                                <label>Nội dung</label>
                                <div class="input-group mb-3">
                                    <textarea name="content" rows="15" cols="95%" class="text__details"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="add-action">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Sửa thông tin đánh giá sản phẩm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-size:28px;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>Mã bình luận</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="editId" disabled>
                                </div>

                                <label>Mã sản phẩm</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="editpid" disabled>
                                </div>

                                <label>Username</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="editusername" disabled>
                                </div>

                                <label>Rating</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" name="editrating">
                                </div>

                                <label>Nội dung</label>
                                <div class="input-group mb-3">
                                    <textarea name="editcontent" rows="15" cols="95%" class="text__details"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="edit-action">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Xóa phương thức thanh toán</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-size:28px;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="form-control" name="deleteId" disabled hidden>
                                <h6>Bạn có chắc chắn muốn xóa dòng này ?</h6>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="delete-action">Đồng ý</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="bootstrap-data-table-panel">
                                <div class="table-responsive">
                                    <table id="review-board"
                                           class="table table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="18%">Mã bình luận</th>
                                                <th width="18%">Mã sản phẩm</th>
                                                <th width="18%">Username</th>
                                                <th width="18%">Rating</th>
                                                <th width="18%">Nội dung</th>
                                                <th width="10%">Hành động</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p>
                                2021 © Admin Dashboard. - Functions Developed By <a href="https://github.com/hadesdday" target="_blank">
                                    Nguyen
                                    Van Hieu
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#review-board").DataTable({
            "responsive": true,
            "dom": "lBfrtip",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"],
            ],
            "buttons": ["copy", "csv", "excel", "pdf", "print"],
            "language": {
                "url": "/Scripts/admin/js/lib/data-table/vi.json"
            },
            "ajax": {
                "url": "https://localhost:44332/Review/GetReviewList",
                "dataSrc": "data"
            },
            "columnDefs": [
                {
                    "targets": 0,
                    "width": "18%",
                },
                {
                    "targets": 1,
                    "width": "18%",
                },
                {
                    "targets": 2,
                    "width": "18%",
                },
                {
                    "targets": 3,
                    "width": "18%",
                },
                {
                    "targets": 4,
                    "width": "18%",
                },
                {
                    "targets": 5,
                    "searchable": false,
                    "width": "10%",
                    "render": function (data, type, row) {
                        var editElm = '<a class="btn rounded bg-warning mr-2" id="editBtn" ' + "onclick='onEdit(this)' data-toggle='modal' data-target='#editModal'>"
                            + "<i class='ti-pencil text-white'></i></a>";
                        var delElm = '<a class="btn rounded bg-danger delAct" id="deleteAction" onclick="onDelete(this)" data-toggle="modal" data-target="#deleteModal">' +
                            "<i class='ti-trash text-white'></i></a>";
                        var actions = editElm + delElm;
                        return actions;
                    }
                },
            ],
            "columns": [
                { "data": "id" },
                { "data": "id_sanpham" },
                { "data": "username" },
                { "data": "sosao" },
                { "data": "noidung" },
            ],
        });
    });

    function reloadTable() {
        $("#review-board").DataTable().ajax.reload(null, false);
    }

    function clearData() {
        $("input").val("");
    }

    function closeModal(id) {
        $(id).trigger('click');
    }

    $("#add-action").click(() => {
        var pid = $("input[name='pid']").val();
        var username = $("input[name='username']").val();
        var rating = $("input[name='rating']").val();
        var content = $("textarea[name='content']").val();

        if (pid.length < 1 ||
            username.length < 1 ||
            rating.length < 1 ||
            content.length < 1
        )  {
            swal("Thất bại", "Vui lòng nhập dữ liệu ", "error");
        } else {
            $.ajax({
                url: "/Review/Add",
                method: "POST",
                data: {
                    id_sanpham: pid,
                    username: username,
                    sosao: rating,
                    noidung: content
                },
                success: function (data) {
                    reloadTable();
                    swal("Thành công", "Thêm đánh giá sản phẩm mới thành công", "success");
                    clearData();
                    closeModal("#addModal");
                },
                error: function (data) {
                    swal("Thất bại", "Thêm đánh giá sản phẩm mới thất bại", "error");
                }
            });
        }
    });

    function setData(data) {
        $("input[name='editpid']").val(data.id_sanpham);
        $("input[name='editusername']").val(data.username);
        $("input[name='editrating']").val(data.sosao);
        $("textarea[name='editcontent']").val(data.noidung);
        $("input[name='editId']").val(data.id);
    }

    function onEdit(elm) {
        var s = $(elm).parents("tr").children().first();
        var id = s.text();

        $.ajax({
            url: "/Review/GetReview",
            method: "GET",
            data: {
                id: id
            },
            success: data => {
                setData(data);
            }, error: data => {
                swal("Thất bại", "Không tìm thấy đánh giá", "error");
            }
        });
    }

    $("#edit-action").click(() => {
        var pid = $("input[name='editpid']").val();
        var id = $("input[name='editId']").val();
        var username = $("input[name='editusername']").val();
        var rating = $("input[name='editrating']").val();
        var content = $("textarea[name='editcontent']").val();

        if (pid.length < 1 ||
            id.length < 1 ||
            username.length < 1 ||
            rating.length < 1 ||
            content.length < 1
        ) {
            swal("Thất bại", "Vui lòng nhập dữ liệu ", "error");
        } else {
            $.ajax({
                url: "/Review/UpdateInformation",
                method: "PUT",
                data: {
                    id: id,
                    id_sanpham: pid,
                    username: username,
                    sosao: rating,
                    noidung: content,
                },
                success: function (data) {
                    reloadTable();
                    swal("Thành công", "Sửa thông tin đánh giá sản phẩm thành công", "success");
                    closeModal("#editModal");
                },
                error: function (data) {
                    if (data.status === 400 || data.status === 500)
                        swal("Thất bại", "Dữ liệu không hợp lệ vui lòng nhập lại", "error");
                    else
                        swal("Thất bại", "Cập nhật thông tin thất bại", "error");
                }
            })
        }
    });

    function onDelete(elm) {
        var s = $(elm).parents("tr").children().first();
        var id = s.text();
        $("input[name='deleteId']").val(id);
    }

    $("#delete-action").click(() => {
        var id = $("input[name='deleteId']").val();

        $.ajax({
            url: "/Review/Delete",
            method: "DELETE",
            data: {
                id: id
            },
            success: data => {
                reloadTable();
                swal("Thành công", "Xóa thành công", "success");
                closeModal("#deleteModal");
            },
            error: (data) => {
                swal("Thất bại", "Xóa thất bại", "error");
            }
        });
    });
</script>